@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
@import "./reset.css";

/*General settings */
* {
  font-family: "Raleway", sans-serif;
  --primary-color: #0065fc;
  --secondary-color: #deebff;
  --background-color: #f2f2f2;
  color: black;
}
body {
  margin: 0 14% 0 14%;
}

/*Header style */
header {
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding-bottom: 25px;
  font-family: "Raleway", sans-serif;
}
.logo {
  height: 50px;
  width: auto;
  padding: 45px 0 0 20px;
}
.nav {
  display: flex;
  justify-content: center;
}
.nav__link {
  width: 180px;
  text-align: center;
  color: black;
  padding: 45px 0 0 0;
  border-top: solid;
  border-color: white;
}
.nav__link--active {
  color: var(--primary-color);
  border-color: var(--primary-color);
}

/*Banner style*/
.banner__header {
  font-size: 23px;
  font-weight: bolder;
}
.banner__content {
  padding: 10px 0;
}
/*Searchbar*/
.banner__form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  width: fit-content;
  background-color: var(--background-color);
  border-radius: 15px;
  margin: 15px 0;
}

.banner__form i {
  font-size: 20px;
  padding: 15px 20px;
}
.banner__form__text-input {
  font-size: 18px;
  padding: 0.5px 15px;
  color: black;
  font-weight: bold;
  height: 90%;
  border: none;
  background-color: white;
}
.banner__form__submit {
  font-size: 18px;
  padding: 14.5px;
  background-color: var(--primary-color);
  border: none;
  border-radius: 0 15px 15px 0;
}
.banner__form__submit i {
  display: none;
}
.banner__form__submit span {
  color: white;
}
/*Refine*/
.banner__refine {
  display: flex;
  padding: 20px 5px;
  align-items: center;
}
.banner__refine__header {
  font-size: 18px;
  font-weight: bold;
  margin: 20px 20px 20px 0;
}
.banner__refine ul {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.banner__refine__filter {
  display: flex;
  align-items: center;
  height: fit-content;
  width: fit-content;
  margin: 5px 10px;
  border-radius: 25px;
  height: 43px;
  border: 2px solid #d9d9d9;
}
.banner__refine__filter:hover {
  transform: translate(3px, 3px);
}
.banner__refine__filter i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  padding: 15px;
  height: 17px;
  width: 17px;
  border-radius: 50%;
  transform: translateX(-5px);
}
.banner__refine__filter__content {
  font-size: 18px;
  font-weight: bold;
  margin: 0 4px 0 0;
  padding: 0 20px 0 10px;
  background-color: white;
}
/*Info*/
.banner__info {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.banner__info i {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 22px;
  width: 22px;
  font-size: 25px;
  border-radius: 50%;
  color: white;
  background-color: var(--primary-color);
  border: 3px solid grey;
  margin-right: 10px;
}

/*Cards*/
.card {
  display: flex;
  flex-direction: column;
  padding: 4px;
  margin: 0 5px 40px 5px;
  width: 240px;
  height: 200px;
  background-color: white;
  border-radius: 25px;
  box-shadow: 5px 5px 15px rgb(222, 220, 220);
}
.card img {
  width: inherit;
  height: 120px;
  object-fit: cover;
  overflow: hidden;
  border-radius: 25px 25px 0 0;
}
.card__desc {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-left: 1px;
}
.card__desc__header {
  font-size: 16px;
  font-weight: bold;
  margin: 5px 0;
}
.card__desc__content {
  font-size: 15px;
  margin: 5px 0;
}
.card__desc__content em {
  font-weight: bold;
  font-style: normal;
}
/*Card aside*/
.card--aside {
  display: flex;
  flex-direction: row;
  height: 135px;
  width: 320px;
}
.card--aside img {
  width: 130px;
  height: inherit;
  border-radius: 25px 0 0 25px;
}
.card__desc--aside {
  display: flex;
  align-items: flex-start;
  width: 50%;
}
.rating--aside {
  padding-top: 35px;
}
.fa-star {
  font-size: 13px;
  color: var(--primary-color);
}
.fa-star--duotone {
  color: var(--secondary-color);
}
.fa-star--aside {
  font-size: 12px;
}

/*Card activity*/
.card--activity {
  padding: 0;
  width: 300px;
  height: fit-content;
}
.card--activity img {
  width: inherit;
}
.card--activity figcaption {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  height: 56px;
  padding: 0 0 0 20px;
}
.card--vieux-port img {
  height: 390px;
  object-position: center 10%;
}
.card--pomegues img {
  height: 180px;
  object-position: center 40%;
}
.card--frioul img {
  height: 110px;
  object-position: center 20%;
}
.card--calanques img {
  height: 390px;
  object-position: center 10%;
}
.card--notre-dame img {
  height: 140px;
  object-position: center top;
}
.card--longchamp img {
  height: 150px;
  object-position: center 20%;
}
/*Lodging*/
.lodging {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 10px 0;
}
  /*Lodging view */
.lodging__view {
  display: flex;
  max-width: 66%;
  flex-direction: column;
  padding: 30px;
  margin-right: 20px;
  border-radius: 20px;
  background-color: var(--background-color);
}
.lodging__view__header {
  font-size: 23px;
  font-weight: bold;
  padding-bottom: 30px;
}
.lodging__view__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.lodging__view__list li {
  display: flex;
  justify-content: center;
}
.lodging__view__expand {
  font-size: 18px;
  font-weight: bold;
}
  /*Lodging top-rated*/
.lodging__top-rated {
  display: flex;
  max-width: 30%;
  min-width: fit-content;
  height: 100%;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  margin-left: 20px;
  border-radius: 20px;
  background-color: var(--background-color);
}
.lodging__top-rated__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 320px;
  padding-bottom: 30px;
}
.lodging__top-rated__header h2 {
  font-size: 23px;
  font-weight: bold;
}
.fa-star--header {
  font-size: 20px;
  color: black;
}

.lodging__top-rated__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0;
}
.lodging__top-rated__list li {
  display: flex;
  justify-content: center;
}
.activities {
  margin-bottom: 30px;
}
.activities__header {
  font-size: 23px;
  font-weight: bold;
  padding: 30px 0;
}
.activities__list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.activities__col2,
.activities__col3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/*Footer style*/
footer {
  display: flex;
  width: 100%;
  transform: translateX(-5%);
  padding: 40px 5%;
  font-family: "Raleway", sans-serif;
  background-color: var(--background-color);
}
.footer__header {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 20px;
}
footer li {
  margin-bottom: 15px;
}

.footer__about,
.footer__lodging,
.footer__assist {
  display: flex;
  flex-direction: column;
  width: 33%;
  margin-right: 20px;
  padding-bottom: 40px;
}
.footer__link {
  font-size: 16px;
  margin-bottom: 20px;
}

/*Media queries*/
/*Tablet*/
@media screen and (max-width: 992px) {
  .lodging {
    flex-direction: column-reverse;
    align-items: center;
  }
  .lodging__view {
    min-width: 100%;
    margin: 20px 0;
  }
  .lodging__view__list {
    justify-content: space-around;
  }
  .lodging__top-rated {
    min-width: 100%;
    margin: 20px 0;
  }
  .lodging__top-rated__list {
    flex-flow: row wrap;
    justify-content: space-around;
  }
  .activities__list {
    justify-content: space-around;
  }
}
/*Mobile*/
@media screen and (max-width: 768px) {
  body {
    margin: 0;
  }
  .banner,
  .lodging__view__header,
  .lodging__view__expand,
  .activities__header,
  .footer__about,
  .footer__lodging,
  .footer__assist {
    margin: 0 5%;
  }
  /*Header*/
  header {
    flex-direction: column;
    align-items: center;
  }
  .logo {
    transform: translateX(10%);
  }
  .nav {
    width: 100%;
  }
  .nav__link {
    width: 50%;
    padding-bottom: 15px;
    border-top: none;
    border-bottom: solid;
    border-color: var(--background-color);
  }
  .nav__link--active {
    border-color: var(--primary-color);
  }
  /*Banner*/
  .banner {
    display: flex;
    flex-direction: column;
  }
  .banner__form {
    justify-content: center;
    align-items: center;
    align-self: center;
  }
  .banner__form__submit {
    border-radius: 15px;
  }
  .banner__form__submit i {
    color: white;
    display: contents;
  }
  .banner__form__submit span {
    display: none;
  }
  .banner__refine {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 0;
  }
  /*Cards*/
  .card {
    width: 320px;
  }
  .card--vieux-port img,
  .card--pomegues img,
  .card--frioul img,
  .card--calanques img,
  .card--notre-dame img,
  .card--longchamp img {
    height: 135px;
  }
  /*Lodging*/
  .lodging__view {
    background-color: white;
    padding: 30px 0;
    border-radius: 0;
  }
  .lodging__view__list {
    flex-direction: column;
  }
  .lodging__top-rated {
    padding: 30px 0;
    border-radius: 0;
  }
  .lodging__top-rated__list {
    flex-direction: column;
  }
  /*Activities*/
  .activities__list {
    flex-direction: column;
    align-items: center;
  }
  /*Footer*/
  footer {
    flex-direction: column;
    transform: none;
    padding: 40px 0;
  }
  .footer__about,
  .footer__lodging,
  .footer__assist {
    width: auto;
  }
}
